[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
motor = "*"
fastapi = "*"
uvicorn = "*"
funcy = "*"

[dev-packages]
isort = "*"
pytest = "*"
pytest-freezegun = "*"
pre-commit = "*"
mypy = "*"
flake8 = "*"
allure-pytest = "*"
pytest-asyncio = "*"
httpx = "*"
factory-boy = "*"
pytest-mock = "*"
pytest-env = "*"

[requires]
python_version = "3.9"

[packages.umongo]
extras = [ "motor",]
