[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
motor = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
isort = "*"
pytest = "*"
pytest-freezegun = "*"
mixer = "*"
pre-commit = "*"
mypy = "*"
flake8 = "*"
allure-pytest = "*"
pytest-asyncio = "*"
httpx = "*"

[requires]
python_version = "3.8"
